html[lang^='en'] {
  font-family: Roboto, sans-serif;
}
html[lang^='zh'] {
  font-family: Roboto, 'Noto Sans TC', 'Noto Sans SC', sans-serif;
}
html[lang^='ko'] {
  font-family: Roboto, 'Noto Sans KR', sans-serif;
}

// Theme
:root {
  --shadow: 0 3px 20px #{rgba(#000, .05)};
}
a {
  color: $primary;
}
.text-generic {
  color: $generic !important;
}
.bg-generic {
  background: $generic !important;
}
.text-light {
  color: $light !important;
}
.bg-light {
  background: $light !important;
}

// Helper
.line-height-1 {
  line-height: 1;
}
.non-draggable {
  -webkit-user-drag: none;
}
.half-rounded-borders {
  border-radius: $generic-border-radius / 2;
}
.shadow-generic {
  box-shadow: var(--shadow);
}
.shadow-backdrop {
  position: relative;

  &::before {
    position: absolute;
    top: 12px;
    right: 24px;
    left: 24px;
    height: 100%;
    content: '';
    background: rgba(#FFF, .65);
    border-radius: $generic-border-radius;
    box-shadow: var(--shadow);
  }
}

// Override
.q-slider__text-container {
  border-radius: 4px;
}
