// Theme
$primary: #1E40AF;
$secondary: #E2E8F0;
$accent: #1E293B;
$positive: #4AA96C;
$negative: #F55C47;
$info: #06B6D4;
$warning: #F4B907;

// Custom
$generic: #64748B;
$light: #F1F5F9;

// Overrides
$typography-font-family: inherit;
$generic-border-radius: 16px;
