// Theme
$primary   : #1e40af;
$secondary : #e2e8f0;
$accent    : #1e293b;
$positive  : #4AA96C;
$negative  : #F55C47;
$info      : #06b6d4;
$warning   : #facc15;

// Custom
$generic : #64748b;
$light   : #f1f5f9;

// Overrides
$typography-font-family : inherit;
$generic-border-radius  : 16px;
